@use "base";

@use "sass:list";

/******************************************************************************/
/* variables                                                                  */
/******************************************************************************/

:root {
    /**************************************************************************/
    /* basics                                                                 */

    // we override most of the built-in GTK/libadwaita CSS variables, which should
    // hopefully make our life slightly easier :33

    --accent-color:    var(--accent-bg);
    --accent-fg-color: var(--accent-fg);
    --accent-bg-color: var(--accent-color);
    --accent-blue:     {{colors.terminal_normal_cyan.default.hex}};
    --accent-green:    {{colors.terminal_normal_green.default.hex}};
    --accent-orange:   {{colors.terminal_normal_yellow.default.hex}};
    --accent-pink:     {{colors.terminal_bright_magenta.default.hex}};
    --accent-purple:   {{colors.terminal_normal_magenta.default.hex}};
    --accent-red:      {{colors.terminal_bright_red.default.hex}};
    --accent-slate:    {{colors.terminal_bright_black.default.hex}};
    --accent-teal:     {{colors.terminal_normal_blue.default.hex}};
    --accent-yellow:   {{colors.terminal_bright_yellow.default.hex}};

    --destructive-color:    {{colors.error_source.default.hex}};
    --destructive-fg-color: {{colors.error_fg_source.default.hex}};
    --destructive-bg-color: {{colors.error_bg_source.default.hex}};

    --error-color:    {{colors.error_source.default.hex}};
    --error-fg-color: {{colors.error_fg_source.default.hex}};
    --error-bg-color: {{colors.error_bg_source.default.hex}};

    --warning-color:    {{colors.warning_source.default.hex}};
    --warning-fg-color: {{colors.warning_fg_source.default.hex}};
    --warning-bg-color: {{colors.warning_bg_source.default.hex}};

    --success-color:    {{colors.success_source.default.hex}};
    --success-fg-color: {{colors.success_fg_source.default.hex}};
    --success-bg-color: {{colors.success_bg_source.default.hex}};

    /**************************************************************************/
    /* GNOME palette                                                          */
    
    --blue-1: {{colors.blue_light_source.default.hex}};
    --blue-2: {{colors.blue_source.default.hex}};
    --blue-3: {{colors.blue_deep_source.default.hex}};
    --blue-4: {{colors.blue_xdeep_source.default.hex}};
    --blue-5: {{colors.blue_xxdeep_source.default.hex}};

    --green-1: {{colors.green_light_source.default.hex}};
    --green-2: {{colors.green_source.default.hex}};
    --green-3: {{colors.green_deep_source.default.hex}};
    --green-4: {{colors.green_deep_dark_source.default.hex}};
    --green-5: {{colors.green_deep_xdark_source.default.hex}};

    --orange-1: {{colors.orange_light_source.default.hex}};
    --orange-2: {{colors.orange_source.default.hex}};
    --orange-3: {{colors.orange_deep_source.default.hex}};
    --orange-4: {{colors.orange_xdeep_source.default.hex}};
    --orange-5: {{colors.orange_xxdeep_source.default.hex}};

    --purple-1: #ffb3ff;
    --purple-2: #ff66ff;
    --purple-3: #ff00ff;
    --purple-4: #e600e6;
    --purple-5: #cc00cc;

    --red-1: #ff5959;
    --red-2: #ff3333;
    --red-3: #ff0000;
    --red-4: #e60000;
    --red-5: #cc0000;

    --yellow-1: {{colors.orange_xlight_source.default.hex}};
    --yellow-2: {{colors.orange_light_source.default.hex}};
    --yellow-3: {{colors.orange_source.default.hex}};
    --yellow-4: {{colors.orange_deep_source.default.hex}};
    --yellow-5: {{colors.orange_xdeep_source.default.hex}};

    /**************************************************************************/
    /* UI elements                                                            */

    --active-toggle-fg-color: var(--accent-fg);
    --active-toggle-bg-color: var(--accent-bg);

    --border-opacity: 1;

    $card-sels:
      ".boxed-list",
      ".boxed-list-separate",
      ".card";
    --card-fg-color: var(--variant-fg);
    --card-bg-color: var(--variant-bg);
    @include base.set-curr-colors(var(--card-fg-color), var(--card-bg-color), $card-sels...);
    @include base.set-surf-hover-colors("variant", $card-sels...);

    $dialog-sels:
      "dialog";
    --dialog-fg-color: var(--variant-fg);
    --dialog-bg-color: var(--variant-bg);
    @include base.set-curr-colors(var(--dialog-fg-color), var(--dialog-bg-color), $dialog-sels...);
    @include base.set-surf-hover-colors("variant", $dialog-sels...);

    $headerbar-sels:
      "actionbar",
      "headerbar:not(.flat)",
      "searchbar:not(.inline)",
      "tabbar:not(.inline)",
      // `AdwToolbarView` top and bottom bars
      "toolbarview menubar",
      "toolbarview viewswitcherbar",
      "toolbarview .toolbar";
    --headerbar-fg-color:       var(--variant-fg);
    --headerbar-bg-color:       var(--variant-bg);
    --headerbar-backdrop-color: var(--headerbar-bg-color); /* overlay that is blended onto unfocused headerbars */
    @include base.set-curr-colors(var(--headerbar-fg-color), var(--headerbar-bg-color), $headerbar-sels...);
    @include base.set-surf-hover-colors("variant", $headerbar-sels...);

    $overview-sels:
      "taboverview";
    --overview-fg-color: var(--variant-fg);
    --overview-bg-color: var(--variant-bg);
    @include base.set-curr-colors(var(--overview-fg-color), var(--overview-bg-color), $overview-sels...);
    @include base.set-surf-hover-colors("variant", $overview-sels...);

    $popover-sels:
      "popover > arrow",
      "popover > contents";
    --popover-fg-color: var(--variant-fg);
    --popover-bg-color: var(--variant-bg);
    @include base.set-curr-colors(var(--popover-fg-color), var(--popover-bg-color), $popover-sels...);
    @include base.set-surf-hover-colors("variant", $popover-sels...);

    /* now why the heck do *you* exist ;-; */
    $secondary-sidebar-sels: [];
    --secondary-sidebar-fg-color:       var(--sidebar-fg-color);
    --secondary-sidebar-bg-color:       hsl(from var(--sidebar-bg-color) h s calc(l + 1.25%));
    --secondary-sidebar-backdrop-color: var(--sidebar-bg-color);
    @include base.set-curr-colors(
      var(--secondary-sidebar-fg-color), var(--secondary-sidebar-bg-color), $secondary-sidebar-sels...
    );
    @include base.set-surf-hover-colors("variant", $secondary-sidebar-sels...);

    $sidebar-sels:
      "navigation-split-view",
      "overlay-split-view",
      ".navigation-sidebar";
    --sidebar-fg-color:       var(--variant-fg);
    --sidebar-bg-color:       var(--variant-bg);
    --sidebar-backdrop-color: var(--sidebar-bg-color);
    @include base.set-curr-colors(var(--sidebar-fg-color), var(--sidebar-bg-color), $sidebar-sels...);
    @include base.set-surf-hover-colors("variant", $sidebar-sels...);

    $view-sels:
      "textview.view";
    --view-fg-color: var(--variant-fg);
    --view-bg-color: var(--variant-bg);
    @include base.set-curr-colors(var(--view-fg-color), var(--view-bg-color), $view-sels...);
    @include base.set-surf-hover-colors("variant", $view-sels...);

    $window-sels:
      "window.background";
    --window-fg-color: var(--default-fg);
    --window-bg-color: var(--default-bg);
    @include base.set-curr-colors(var(--window-fg-color), var(--window-bg-color), $window-sels...);
    @include base.set-surf-hover-colors("default", $window-sels...);
}

/******************************************************************************/
/* scss features                                                              */
/******************************************************************************/

$selected-surfs: [
  ":not(tab):selected",
  "tabbox:not(.single-tab) tab:selected"
];

@mixin btn-flat {
  @include base.btn-flat($should-be-dynamic-sels: $selected-surfs);
  @include base.border-on-hover;
}

@mixin btn-raised($raised-base-fg: var(--accent-fg), $raised-base-bg: var(--accent-bg)) {
  @include base.btn-raised($raised-base-fg, $raised-base-bg);
  @include base.border-on-hover;
}

@mixin btn-selected($selected-base-fg: var(--accent-fg), $selected-base-bg: var(--accent-bg)) {
  @include base.btn-selected($selected-base-fg, $selected-base-bg);
  @include base.border-on-hover;
}

@mixin btn-suggested {
  @include base.btn-raised(var(--accent-fg), var(--accent-bg));
  @include base.border-on-hover(var(--suggested-color));
}

@mixin btn-destructive {
  @include base.btn-raised(var(--destructive-fg-color), var(--destructive-bg-color));
  @include base.border-on-hover(var(--destructive-color));
}

%gtk-btn {
  @extend %btn-base;

  // these are built-in adwaita/GTK selectors
  &:not(.suggested-action):not(.destructive-action) {
    &:not(.raised) {
      &:not(:selected) {
        @include btn-flat;
      }

      &:selected {
        @include btn-selected;
      }
    }

    &.raised,
    // specificity hack because SPECIFICITY IS STUPID I HATE IT AAAAAAAAAAAAAA i am losing my marbles
    &.text-button.text-button {
      @include btn-raised;
    }
  }

  &.suggested-action {
    @include btn-suggested;
  }

  &.destructive-action {
    @include btn-destructive;
  }
}

/******************************************************************************/
/* styles                                                                     */
/******************************************************************************/

button {
  @extend %gtk-btn;
  @extend %border-on-hover-base;

  // for `windowcontrols` buttons, we want the often round `image` child instead of the
  // square `button` itself to be the one that highlights and stuff like a button
  // (i could just exclude `windowcontrols > button` from extending `%gtk-btn` and such, but that
  // causes issues with how other selectors like for buttons inside tabs are expanded)
  windowcontrols > &.image-button {
    border: none;
    // setting `---base-bg` or `---hover-bg` fails probably because GTK changes `background-color`
    // with higher specificity?
    background-color: transparent;

    &:not(.flat) > image {
      @extend %btn-base;
      @include btn-raised;
      @extend %border-on-hover-base;
    }
  }

  menubutton:not(.raised) &,
  splitbutton:not(.raised) & {
    @include btn-flat;
  }

  menubutton.raised &,
  splitbutton.raised & {
    @include btn-raised;
  }
}

card {
  &.activatable {
    @extend %btn-base;
    @include btn-flat;
    @extend %border-on-hover-base;
  }
}

modelbutton {
  @extend %gtk-btn;
  @extend %border-on-hover-base;

  popover.menu & {
    @include btn-flat;

    // for some godawful fucking stupid piece of shit reason, hovering one of these registers as
    // fucking `:selected`. and this stupid fucking shit slop of a hack is the only way i could
    // find to override it back without depending on knowing exactly what `btn-selected` does.
    &:selected {
      ---curr-fg: var(---surf-hover-fg);
      ---curr-bg: var(---surf-hover-bg);
    }
  }
}

splitbutton {
  @extend %gtk-btn;

  // sooooooo like why is this sometimes -1px by default (and makes the borders clip into each other)
  > button,
  > menubutton {
    margin-left: 0px;
    margin-right: 0px;
  }

  &:hover,
  &:focus {
    ---secondary-hover-bg: hsl(from var(---hover-bg) h s calc(l + 1.5%));
    // for some reason setting `---hover-bg` instead of `background-color` doesn't work.
    // (it's probably specificity again. it's always fucking specificity.)
    background-color: var(---secondary-hover-bg);

    button:not(:hover):not(:focus) {
      ---curr-bg: var(---secondary-hover-bg);
    }
  }
}

tab {
  tabbox:not(.single-tab) & {
    @extend %btn-base;
    @include btn-flat;

    &:selected {
      @include btn-selected;
    }
  }
}
