/******************************************************************************/
/* variables                                                                  */
/******************************************************************************/

:root {
  /**************************************************************************/
  /* basics                                                                 */

   // by default, GTK apps are rendered with libadwaita, whose src/stylesheet/_colors.scss
   // (https://github.com/GNOME/libadwaita/blob/42f647ffcbec3282c126ad9153c77baecf86ba90/src/stylesheet/_colors.scss#L270)
   // very frustratingly sets a bunch of defaults, like using `currentColor` (the *foreground* color)
   // mixed with varying amounts of `transparent` to define the selected tab etc. *background* colors.
   //
   // what the fuck.
   //
   // so here's my attempt to make it somewhat make sense.

  --default-fg:        {{colors.default_fg_source.default.hex}};
  --default-bg:        {{colors.default_bg_source.default.hex}};
  --variant-fg:        {{colors.on_surface_variant.default.hex}};
  --variant-bg:        {{colors.surface_variant.default.hex}};
  --accent-fg:         {{colors.on_tertiary.default.hex}};
  --accent-bg:         {{colors.tertiary.default.hex}};
  --selection-fg:      {{colors.selection_fg_source.default.hex}};
  --selection-bg:      {{colors.selection_bg_source.default.hex}};
  --hover-fg:          {{colors.on_hover.default.hex}};
  --hover-bg:          {{colors.hover.default.hex}};

  --border-color:      {{colors.outline_source.default.hex}};
  --disabled-opacity:  50%;
  --error:             {{colors.error_source.default.hex}};

  --link:              {{colors.link_source.default.hex}};
  --link-hover:        {{colors.link_hover_source.default.hex}};
  --link-visited:      {{colors.link_hover_source.default.hex}};
}

/******************************************************************************/
/* scss features                                                              */
/******************************************************************************/

/* use this mixin for all elements that should have a `--curr-fg` and/or `--curr-bg`
 * CSS variable for things like flat buttons to inherit (e.g. windows, titlebars, popovers) */
@mixin curr-colors($fg: var(--default-fg), $bg: var(--default-bg), $selectors...) {
  @at-root #{$selectors} {
    --curr-fg: #{$fg};
    --curr-bg: #{$bg};
    
    background-color: var(--curr-bg);
    color: var(--curr-fg);
  }
}

%btn-base {
  // `curr` variables reflect the current colors depending on state, used for child `%btn` etc.
  // elements to inherit the correct value (e.g. child flat buttons on a hovered tab should use the
  // tab's hover background color, not the tab's base/non-hovered background color)

  // on the other hand, `base` variables are fixed regardless of state, and they are mainly used
  // to derive the colors of different states

  /* colors should generally be overriden by simply setting `--base-bg` and/or `--curr-bg` */
  /* default is flat fixed button */

  --curr-fg: var(--base-fg);
  --curr-bg: var(--base-bg);

  background-color: var(--curr-bg);
  color: var(--curr-fg);

  &:hover {
    --curr-bg: var(--hover-bg);
  }

  &:active {
    --curr-bg: var(--active-bg);
  }
}

@mixin _btn-colors($is-flat: true, $is-fixed: true) {
  @if $is-flat {
    --base-fg: var(--curr-fg, inherit);
    --base-bg: var(--curr-bg, inherit);
  } @else {
    --base-fg: var(--accent-fg);
    --base-bg: var(--accent-bg);
  }

  @if $is-fixed {
    --hover-bg:  var(--accent-bg);
    --active-bg: hsl(from var(--hover-bg) h s calc(l - 2.5%));
  } @else {
    --hover-bg:  hsl(from var(--base-bg) h s calc(l - 2.5%));
    --active-bg: hsl(from var(--base-bg) h s calc(l - 5%));
  }
}

@mixin btn-flat {
  @include _btn-colors(true, true);
}

@mixin btn-flat-dynamic {
  @include _btn-colors(true, false);
}

@mixin btn-raised {
  @include _btn-colors(false, false);
}

@mixin btn-selected {
  @include _btn-colors(false, false);
}

@mixin btn-reveals-border {
  --base-border:  transparent;
  --hover-border: var(--border-color);

  --curr-border:  var(--base-border);
  border: 2px solid;
  border-color: var(--curr-border);

  &:hover {
    --curr-border: var(--hover-border);
  }
}
