/******************************************************************************/
/* variables                                                                  */
/******************************************************************************/

:root {
  /**************************************************************************/
  /* basics                                                                 */

   // by default, GTK apps are rendered with libadwaita, whose src/stylesheet/_colors.scss
   // (https://github.com/GNOME/libadwaita/blob/42f647ffcbec3282c126ad9153c77baecf86ba90/src/stylesheet/_colors.scss#L270)
   // very frustratingly sets a bunch of defaults, like using `currentColor` (the *foreground* color)
   // mixed with varying amounts of `transparent` to define the selected tab etc. *background* colors.
   //
   // what the fuck.
   //
   // so here's my attempt to make it somewhat make sense.

  --default-fg:        {{colors.default_fg_source.default.hex}};
  --default-bg:        {{colors.default_bg_source.default.hex}};
  --variant-fg:        {{colors.on_surface_variant.default.hex}};
  --variant-bg:        {{colors.surface_variant.default.hex}};
  --selection-fg:      {{colors.selection_fg_source.default.hex}};
  --selection-bg:      {{colors.selection_bg_source.default.hex}};
  --error:             {{colors.error_source.default.hex}};
  --accent-default-fg: {{colors.on_tertiary.default.hex}};
  --accent-default-bg: {{colors.tertiary.default.hex}};
  --hover-default-fg:  {{colors.on_hover.default.hex}};
  --hover-default-bg:  {{colors.hover.default.hex}};
  --disabled-opacity:  50%;

  --link:              {{colors.link_source.default.hex}};
  --link-hover:        {{colors.link_hover_source.default.hex}};
  --link-visited:      {{colors.link_hover_source.default.hex}};
}

/******************************************************************************/
/* scss features                                                              */
/******************************************************************************/

/* use this mixin for all elements that should have a `--curr-fg` and/or `--curr-bg`
 * CSS variable for things like flat buttons to inherit (e.g. windows, titlebars, popovers) */
@mixin curr-colors($fg: var(--default-fg), $bg: var(--default-bg), $selectors...) {
  @at-root #{$selectors} {
    --curr-fg: #{$fg};
    --curr-bg: #{$bg};
    
    background-color: var(--curr-bg);
    color: var(--curr-fg);
  }
}

%btn {
  /* default is flat button */
  background-color: var(--curr-bg, inherit);
  color: var(--curr-fg, inherit);

  &:hover {
    background-color: var(--hover-bg);
    color: var(--curr-fg);
  }

  &:active {
    background-color: var(--active-bg);
    color: var(--curr-fg);
  }
}

%btn--flat {
  @extend %btn;
  --curr-fg:   var(--curr-fg, inherit);
  --curr-bg:   var(--curr-bg, inherit);
  --hover-bg:  var(--accent-default-bg);
  --active-bg: hsl(from var(--hover-bg) h s calc(l - 2.5%));
}

%btn--raised {
  @extend %btn;
  --curr-fg:   var(--accent-default-fg);
  --curr-bg:   var(--accent-default-bg);
  --hover-bg:  hsl(from var(--curr-bg) h s calc(l - 2.5%));
  --active-bg: hsl(from var(--curr-bg) h s calc(l - 5%));
}

%btn--selected {
  @extend %btn--raised;
}
