/******************************************************************************/
/* titlebar                                                                   */
/******************************************************************************/

/*
 * by default, the titlebar is rendered by adwaita, whose src/stylesheet/_colors.scss
 * (https://github.com/GNOME/libadwaita/blob/42f647ffcbec3282c126ad9153c77baecf86ba90/src/stylesheet/_colors.scss#L270)
 * very frustratingly sets a bunch of defaults, such as using `currentColor` (the *foreground* color)
 * mixed with varying amounts of `transparent` to define the selected tab etc. *background* colors.
 *
 * what the fuck.
 *
 * so here's my attempt to make it make sense.
 */

@define-color btn_selected_bg        {{colors.tertiary.default.hex}};
@define-color selection_bg           {{colors.selection_bg_source.default.hex}};
@define-color selection_fg           {{colors.selection_fg_source.default.hex}};

/* the lightness percentage adjustments are generally half of the percent `currentColor`
 * used in `color-mix()`in the original adwaita code */
@define-color btn_hover_bg           hsl(from @btn_selected_bg h s calc(l + 2%));
@define-color btn_active_bg          hsl(from @btn_selected_bg h s calc(l - 3%));
@define-color btn_selected_hover_bg  hsl(from @btn_selected_bg h s calc(l - 2%));
@define-color btn_selected_active_bg hsl(from @btn_selected_bg h s calc(l - 4.5%));
@define-color btn_checked_bg         @btn_selected_bg;

/* this is the overlay that is blended onto the titlebar of unfocused windows
 * (note `--ghostty-bg` variable only exists if using `window-theme = ghostty` in ghostty config) */
:root {
    --headerbar-backdrop-color: var(--ghostty-bg);
}

button:hover, tabbox:not(.single-tab) tab:hover {
    background-color: @btn_hover_bg;
}

button:active, tabbox:not(.single-tab) tab:active {
    background-color: @btn_active_bg;
}

button:selected, tabbox:not(.single-tab) tab:selected {
    background-color: @btn_selected_bg;
}

button:selected:hover, tabbox:not(.single-tab) tab:selected:hover {
    background-color: @btn_selected_hover_bg;
}

button:selected:active, tabbox:not(.single-tab) tab:selected:active {
    background-color: @btn_selected_active_bg;
}

button:checked {
    background-color: @btn_checked_bg;
}

splitbutton:hover {
    background-color: hsl(from @btn_hover_bg h s calc(l + 1%));
}

popover.menu modelbutton:hover {
    color: @selection_fg;
    background-color: @selection_bg;
}
