window-rule {
    exclude app-id="firefox"
    exclude app-id="swayimg"
    opacity 0.95
}

// make these noctalia surfaces also translucent
layer-rule {
    match namespace="^noctalia-(bar-[^\"]+|notification|dock|panel|attached-panel|osd)$"
    opacity 0.95
}

// turn on drop shadows for floating windows
window-rule {
    match is-floating=true
    shadow {
        on
    }
}

// enable rounded corners for all windows
window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
}

// open these windows as floating by default:
// - firefox picture-in-picture video player
window-rule {
    // this `app-id` regex should work for both:
    // - host Firefox (`app-id` is "firefox")
    // - Flatpak Firefox (`app-id` is "org.mozilla.firefox")
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

// work around WezTerm's initial configure bug by setting an empty `default-column-width`
window-rule {
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {}
}
