@use "../utils";

/* a general catch-all placeholder for all elements which should change colors on hover/activation */
@mixin btn-builder($base-fg, $base-bg, $hover-fg, $hover-bg, $active-fg, $active-bg) {
  // - `curr` variables reflect the current colors depending on state, used for child `%btn` etc.
  //   elements to inherit the correct value (e.g. child flat buttons on a hovered tab should use
  //   the tab's hover background color, not the tab's base/non-hovered background color).
  // - `base` variables are fixed regardless of state, and they are mainly used to derive the colors
  //   of different states.

  /* colors should generally be overriden by just setting `---curr-bg` and/or `---base-bg`
   * (unless, for example, some other style completely overrode `background-color`) */

  ---base-fg: #{$base-fg};
  ---base-bg: #{$base-bg};
  ---hover-fg: #{$hover-fg};
  ---hover-bg: #{$hover-bg};
  ---active-fg: #{$active-fg};
  ---active-bg: #{$active-bg};

  ---curr-fg: var(---base-fg, var(--error-color));
  ---curr-bg: var(---base-bg, var(--error-color));

  background-color: var(---curr-bg);
  color: var(---curr-fg);

  &:hover,
  &:focus {
    ---curr-fg: var(---hover-fg);
    ---curr-bg: var(---hover-bg);
  }

  &:active {
    ---curr-fg: var(---active-fg);
    ---curr-bg: var(---active-bg);
  }
}

@mixin btn-raised-builder($base-fg, $base-bg) {
  @include btn-builder(
    $base-fg: #{$base-fg},
    $base-bg: #{$base-bg},
    $hover-fg: var(---base-fg),
    $hover-bg: #{utils.change-lightness(var(---base-bg), -2.5%)},
    $active-fg: var(---hover-fg),
    $active-bg: #{utils.change-lightness(var(---hover-bg), -2.5%)}
  );
}

%btn-flat {
  @include btn-builder(
    $base-fg: var(--btn-flat-base-fg, var(--error-color)),
    $base-bg: transparent,
    $hover-fg: var(--btn-flat-hover-fg, var(--success-color)),
    $hover-bg: var(--btn-flat-hover-bg, var(--success-color)),
    $active-fg: var(---hover-fg),
    $active-bg: #{utils.change-lightness(var(---hover-bg), -2.5%)}
  );

  %btn-selected & {
    @include btn-builder(inherit, inherit, inherit, inherit, inherit, inherit);
  }
}

%btn-raised {
  @include btn-raised-builder(
    $base-fg: var(--btn-raised-base-fg, var(--error-color)),
    $base-bg: var(--btn-raised-base-bg, var(--error-color)),
  );
}

%btn-selected {
  @include btn-raised-builder(
    $base-fg: var(--btn-selected-base-fg, var(--error-color)),
    $base-bg: var(--btn-selected-base-bg, var(--error-color)),
  );
}

@mixin btn-border-on-hover($border-color: var(--btn-border-on-hover-color), $border-width: 2px) {
  ---base-border-color: transparent;
  ---curr-border-color: var(---base-border-color);

  border: var(---border-width) solid;
  border-color: var(---curr-border-color);
  outline-color: var(---curr-border-color);

  &:hover,
  &:focus {
    ---curr-border-color: #{$border-color};
  }
}
