:root {
  --default-fg: {{colors.default_fg_source.default.hex}};
  --default-bg: {{colors.default_bg_source.default.hex}};

  --variant-fg: {{colors.variant_fg_source.default.hex}};
  --variant-bg: {{colors.variant_bg_source.default.hex}};

  --accent-fg: {{colors.accent_3_fg_source.default.hex}};
  --accent-bg: {{colors.accent_3_bg_source.default.hex}};

  --selection-fg: {{colors.selection_fg_source.default.hex}};
  --selection-bg: {{colors.selection_bg_source.default.hex}};

  --hover-fg: {{colors.hover_fg_source.default.hex}};
  --hover-bg: {{colors.hover_bg_source.default.hex}};

  --border-1-color: {{colors.outline_1_source.default.hex}};
  --border-2-color: {{colors.outline_2_source.default.hex}};
  --border-3-color: {{colors.outline_3_source.default.hex}};
  --border-4-color: {{colors.outline_4_source.default.hex}};

  --link-color:         {{colors.link_source.default.hex}};
  --link-hovered-color: {{colors.link_hovered_source.default.hex}};
  --link-visited-color: {{colors.link_visited_source.default.hex}};

  --disabled-opacity: 50%;
}
