@use "../base";
@use "surfs";

@use "sass:list";

//------------------------------------------------------------------------------
// surface registries button config
//------------------------------------------------------------------------------

// set button-related CSS variables that may depend on the ambient surface here

@if list.length(surfs.$default-surfs) > 0 {
  #{surfs.$default-surfs} {
    --btn-flat-hover-fg: var(--hover-fg);
    --btn-flat-hover-bg: var(--hover-bg);

    --btn-raised-base-fg: var(--accent-fg);
    --btn-raised-base-bg: var(--accent-bg);

    --btn-strong-raised-base-fg: var(--accent-strong-fg);
    --btn-strong-raised-base-bg: var(--accent-strong-bg);

    --btn-selected-base-fg: var(--accent-strong-fg);
    --btn-selected-base-bg: var(--accent-strong-bg);

    --btn-flat-hover-border-color:          var(--border-color);
    --btn-raised-hover-border-color:        var(--border-strong-color);
    --btn-strong-raised-hover-border-color: var(--border-xstrong-color);
  }
} @else {
  @debug "gtk/btn: surfs.$default-surfs empty! uh oh >~<";
}

@if list.length(surfs.$variant-surfs) > 0 {
  #{surfs.$variant-surfs} {
    --btn-flat-hover-fg: var(--hover-variant-fg);
    --btn-flat-hover-bg: var(--hover-variant-bg);

    --btn-raised-base-fg: var(--accent-variant-fg);
    --btn-raised-base-bg: var(--accent-variant-bg);

    --btn-strong-raised-base-fg: var(--accent-strong-variant-fg);
    --btn-strong-raised-base-bg: var(--accent-strong-variant-bg);

    --btn-selected-base-fg: var(--accent-strong-variant-fg);
    --btn-selected-base-bg: var(--accent-strong-variant-bg);

    --btn-flat-hover-border-color:          var(--border-color);
    --btn-raised-hover-border-color:        var(--border-strong-color);
    --btn-strong-raised-hover-border-color: var(--border-xstrong-color);
  }
} @else {
  @debug "gtk/btn: surfs.$variant-surfs empty! uh oh >~<";
}

@if list.length(surfs.$selected-surfs) > 0 {
  #{surfs.$selected-surfs} {
    --btn-flat-hover-border-color:   var(--border-strong-color);
    --btn-raised-hover-border-color: var(--border-xstrong-color);
  }
} @else {
  @debug "gtk/btn: surfs.$selected-surfs empty! uh oh >~<";
}

//------------------------------------------------------------------------------
// buttons
//------------------------------------------------------------------------------

%btn-suggested {
  @extend %btn-raised;
}

%btn-destructive {
  @include base.btn-raised-builder(
    $base-fg: var(--destructive-fg-color),
    $base-bg: var(--destructive-bg-color)
  );

  --btn-hover-border-color: var(--destructive-color);
}

@mixin gtk-btn {
  // these are built-in adwaita/GTK selectors
  &:not(.suggested-action):not(.destructive-action) {
    // note: the logic here may need to change if we want `gtk-btn`s to be selectable
    &.flat {
      @extend %btn-flat;
    }

    &.raised,
    &.text-button {
      @extend %btn-raised;
    }
  }

  &.suggested-action {
    @extend %btn-suggested;
  }

  &.destructive-action {
    @extend %btn-destructive;
  }
}

button {
  @extend %btn-base;
  @include gtk-btn;
  @include base.btn-hover-border;

  // for `windowcontrols` buttons, we want the often round `image` child instead of the
  // square `button` itself to be the one that highlights and stuff like a button
  // (i could just exclude `windowcontrols > button` from extending `%gtk-btn` and such, but that
  // causes issues with how other selectors like for buttons inside tabs are expanded)
  windowcontrols > &.image-button {
    border: none;

    &:not(.flat) > image {
      @extend %btn-base;
      @extend %btn-strong-raised;
      @include base.btn-hover-border;
    }
  }

  menubutton:not(.raised) &,
  splitbutton:not(.raised) & {
    @extend %btn-flat;
  }

  menubutton.raised &,
  splitbutton.raised & {
    @extend %btn-raised;
  }
}

card {
  &.activatable {
    @extend %btn-base;
    @extend %btn-flat;
    @include base.btn-hover-border;
  }
}

modelbutton {
  @extend %btn-base;
  @include gtk-btn;
  @include base.btn-hover-border;

  popover.menu & {
    @extend %btn-flat;

    // note: for some godawful stupid fucking piece of shit reason, hovering one of these registers
    // as fucking `:selected`.
  }
}

splitbutton {
  @extend %btn-base;
  @include gtk-btn;

  // sooooooo like why is this sometimes -1px by default (and makes borders clip into each other)...
  > button,
  > menubutton {
    margin-left: 0px;
    margin-right: 0px;
  }

  &:hover,
  &:focus {
    ---secondary-hover-bg: hsl(from var(---hover-bg) h s calc(l + 1.5%));
    // setting `---hover-bg` instead of `background-color` doesn't work (probably specificity again)
    background-color: var(---secondary-hover-bg);

    button:not(:hover):not(:focus) {
      ---curr-bg: var(---secondary-hover-bg);
    }
  }
}

tab {
  tabbox:not(.single-tab) & {
    @extend %btn-base;
    @extend %btn-flat;

    &:selected {
      @extend %btn-selected;
    }
  }
}
